
ion-modal {
    padding: 20px;
    background: rgba(0,0,0,0.6)
}

#circle{
      width: 18px;
      height: 18px;
      border-radius: 50%;
}

.ionic-card{
    background-image: url('../assets/img/reforma.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/*
.portafolioButton{
    position: fixed;
    bottom: 0;
    //vertical-align: bottom;
    width: 100%;
    text-align:center;
    margin:auto;
    padding:25px;
}*/
/*
.bar.bar-header.no-bgColor, .bar.bar-footer.no-bgColor{
border: 0px;
border-color: transparent;
border-top: transparent;
border-bottom: transparent;
background-image: none !important; }*/








