<ion-header>
  <ion-navbar color="portafolio-header">
    <ion-title>
      Portafolio
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="ionic-card">

      <div >
        <canvas #doughnutCanvas style="padding: 30px;"></canvas> <br/>
      </div>
        
        <ion-list style="background-color: transparent; border-color:black" no-lines padding>
          <ion-item-sliding *ngFor="let row of tablaInversiones" style="background-color: rgba(50,50,50,0.35)" #slidingItem>
            <ion-item style="background-color: rgba(50,50,50,0.35); border-color:rgba(133,133,133,0.3)">
              <ion-grid>
                <ion-row >
                  <ion-col width-10><div id="circle" [style.background]="row.color" ></div> </ion-col>
                  <ion-col width-75 style="color:white; font-size: 13px;"> {{row.tipoInversion}}</ion-col>
                  <ion-col width-15 style="color:white; font-size: 13px;">{{row.porcentajeInversion}} % </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-item-options>
              <button ion-button icon-only clear color="edit-inversion-icon" (click)="editarInversion(row, slidingItem)">
                <ion-icon name="md-create"></ion-icon>
              </button>
              <button ion-button icon-only clear color="delete-inversion-icon" (click)="eliminarInversion(row)">
                <ion-icon name="md-trash"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list> <br/> <br/>

    <ion-fab right bottom>
        <button (click)="agregarInversion()" ion-fab color="agregar-inversion-FAB" [disabled]=" restanteInversion <= 0" ><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    
</ion-content>