<ion-header no-border>
  <ion-toolbar color="portafolio-header" >
    <ion-buttons start>
      <button ion-button icon-only clear color="light" (click)="cancelar()">
        <ion-icon name="close"></ion-icon>
      </button> 
    </ion-buttons>
    <ion-title>Nueva inversión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-list no-lines>
    <ion-item>
      <<ion-label>Tipo de Inversión:</ion-label>
    </ion-item>
    <ion-item text-center>
      <!--<ion-select [(ngModel)]="tipoInversion" (ionChange)="porcentajeOnChange(porcentajeInversionValue, tipoInversion)" style="max-width: 100% !important; font-size:13px;" okText="Aceptar" cancelText="Cancelar" disabled="{{disableTipoInversion}}">
          <ion-option value="Conservador-Dólares" checked="true">Conservador - Dólares</ion-option>
          <ion-option value="Conservador-Moneda Nacional">Conservador - Moneda Nacional</ion-option>
          <ion-option value="Conservador-Euros">Conservador - Euros</ion-option>
          <ion-option value="Balanceado-Dólares">Balanceado - Dólares</ion-option>
          <ion-option value="Balanceado-Moneda Nacional">Balanceado - Moneda Nacional</ion-option>
          <ion-option value="Balanceado-Euros">Balanceado - Euros</ion-option>
          <ion-option value="Dinámico-Dólares">Dinámico - Dólares</ion-option>
          <ion-option value="Dinámico-Moneda Nacional">Dinámico - Moneda Nacional</ion-option>
          <ion-option value="Dinámico-Euros">Dinámico - Euros</ion-option>
        </ion-select>-->

        <ion-select [(ngModel)]="tipoInversion" (ionChange)="porcentajeOnChange(porcentajeInversionValue, tipoInversion)" style="max-width: 100% !important; font-size:13px;" okText="Aceptar" cancelText="Cancelar" disabled="{{disableTipoInversion}}">
          <ion-option *ngFor="let inversionOption of comboTipoInversion" value="{{inversionOption.value}}" disabled="{{inversionOption.disabled}}" >{{inversionOption.label}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Porcentaje:</ion-label>
    </ion-item>
    <ion-item>

      <ion-input type="number" [(ngModel)]="porcentajeInversionValue" 
            (blur)="porcentajeOnChange(porcentajeInversionValue, tipoInversion)" 
            style="font-size:70px; font-weight: 300" 
            text-center autofocus 
        > </ion-input> 
      <!--
      <ion-input type="number" [(ngModel)]="porcentajeInversionValue" 
            (blur)="porcentajeOnChange(porcentajeInversionValue, tipoInversion)" 
            style="font-size:70px; font-weight: 300" 
            text-center autofocus 
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength = "6"
        > </ion-input> -->
        
    </ion-item>
    </ion-list>

    <p [hidden]="inversionBanner" style="color:#c0392b; text-align:center" >El monto mínimo de asignación debe ser de $1,000.00 favor de reasignarlo.</p> <br/>

   
  <button ion-button block (click)="agregarInversion(tipoInversion, porcentajeInversionValue)" [disabled]=" porcentajeInversionValue <= 0 || inversionValida==false " class="portafolioButton" >
    Aceptar
  </button>

  <!--<ion-footer style="border: 0px; border-color: transparent;border-top: transparent;" no-margin	>
  <ion-toolbar position="fixed">
    
   
      <p style="text-align: center" position="bottom">
      <button ion-button block (click)="agregarInversion(tipoInversion, porcentajeInversionValue)" [disabled]=" porcentajeInversionValue <= 0 || inversionValida==false " position="bottom" >
        Aceptar
      </button></p>
    
  </ion-toolbar>
</ion-footer>-->
 
    
</ion-content>